.Medium-placeholder {
  position: absolute;
  pointer-events: none;
}

.RichEditor-StickyFormattingToolbar {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 1
}.RichEditor-StickyFormattingToolbar--hidden {
    display: none;
}

.RichEditor-FormattingToolbar {
  margin-bottom: 1rem
}
.RichEditor-FormattingButton {
  padding: 0.8rem 1rem;
  margin-right: 1px;
  background: gray;
  display: inline-block;
  color: white;
  cursor: pointer;
  min-width: 3rem;
  text-align: center;

}.RichEditor-FormattingButton:hover {
  background-color: darkgray;
}

.RichEditor-InsertActionButton {
  padding: 0.8rem 1rem;
  margin-right: 1px;
  background: #555;
  display: inline-block;
  color: white;
  cursor: pointer;
  min-width: 3rem;
  text-align: center;

}
.RichEditor-InsertActionButton:hover {
  background-color: darkgray;
}

.RichEditor-WidgetButton {
  padding: 0.8rem 1rem;
  margin-right: 1px;
  background: #333;
  display: inline-block;
  color: white;
  cursor: pointer;
  min-width: 3rem;
  text-align: center;
}.RichEditor-WidgetButton:hover {
  background-color: #222;
}


.RichText-Widget {
  position: relative;
}

.RichText-WidgetButtonToolbar {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.RichText-WidgetFormattingButton {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  background-color: rgba(255,255,255,0.75);
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
} .RichText-WidgetFormattingButton:hover {
  opacity: 1;
  background-color: white;
}

.RichText-Widget:hover .RichText-WidgetFormattingButton {
  opacity: 1;
}

.RichText-EditButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.ResultTableModal-TableContainer {
  padding: 3rem 0;
}.ResultTableModal-TableContainer .ResultTableModal-MediumEditor {
  display: block;
  width: 100%;
}

.InfernoFormlib-CancelBtn {
  margin-left: 1.5rem;
  vertical-align: middle;
}

.RichText-PodcastContainer {
  height: 20rem;
}



/* CONTENT STYLING */

/* Styling of content starts here! */

.Article-Header_2,
.Article-Header_3,
.Article-Header_4 {
  line-height: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.Article-Header_2 {
  font-size: 1.6em;
}

.Article-Header_3 {
  font-size: 1.3em;
}
.Article-Header_4 {
  font-size: 1.3em;
  color: #444;
  margin-top: 3rem;
}

.Article-Paragraph {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.Article-Quote {
  display: block;
  font-size: 2rem;
  margin: 1em 0;
  padding-left: 1em;
  background: #f9f9f9;
  border-left: 1rem solid #ccc;
  quotes: "\201C""\201D""\2018""\2019";  
}

.Article-Quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0;
  margin-right: 0.1em;
  vertical-align: -0.45em;
}

.Article-UnorderedList {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em 0;
}
.Article-UnorderedList-Item {
  font-size: 1em;
  margin-bottom: 0.5em;
  list-style-type: circle;
  list-style-position: inside;
}

img {
  width: 100%;
}

.RichText-Widget-left {
  float: left;
  margin: 0 1em 0.6em 0;
  width: 40%;
  min-width: 15rem;
}
.RichText-Widget-right {
  float: right;
  margin: 0 0 0.6em 1em;
  width: 40%;
  min-width: 15rem;
}
.RichText-Widget-center {
  display: block;
  text-align: center;
  margin: 2em 0;

}
.RichText-Widget-inline {
  display: inline-block;
}

.RichText-ImageContainer {
  position: relative;
}

.RichText-Image {
  width: 100%;
}

.RichText-PodcastContainer {
  position: relative;
  
  .RichText-Podcast {
    height: 21rem;
  }
}

.RichText-YoutubeContainer {
  position: relative;
  
}

.RichText-Youtube {
  height: 21rem;
}

.RichText-ResultTable {
  width: 100%
  counter-reset: resultTableNr;
  margin: 2rem 0 4rem;
}

.RichText-ResultTableRow {
  border-bottom: 1px solid #ccc;  
}

.RichText-ResultTableCell {
  min-height: 1em;
  padding: 1rem 0.5rem 0.5rem;
}
  
.RichText-ResultTableCell-Name {
  width: 70%;
  padding-left: 4rem;
  
}

.RichText-ResultTableCell-Name:before {
  position: absolute;
  left: 0rem;
  width: 2.7rem;
  counter-increment: resultTableNr;
  content: counter(resultTableNr) ".";
}

.RichText-ResultTableCell-Result {
  width: 30%;
  min-width: 5em;
  text-align: right;
}

.modal {
  display: block;
}

/***************
 ** Modal CSS **
 ***************/

.ModalFade-leave {
  transform: translateY(0);
  opacity: 1;
}

.ModalFade-leave-active {
  overflow: hidden;
  transition: transform 0.5s ease-in, opacity 0.4s ease-in;
}

.ModalFade-leave-end {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter-active {
  transition: transform 0.5s ease-out, opacity 0.4s ease-in;
}

.ModalFade-enter-end {
  transform: translateY(0);
  opacity: 1;
}

/* The modal background */

.ModalBackdropFade-leave {
  opacity: 0.5;
}

.ModalBackdropFade-leave-active {
  overflow: hidden;
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-leave-end {
  opacity: 0!important;
}

.ModalBackdropFade-enter {
  opacity: 0!important;
}

.ModalBackdropFade-enter-active {
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-enter-end {
  opacity: 0.5;
}

/**
 * Animate error messages
 */
.InfernoFormlib-ErrorMsg--Animation-leave {
    opacity: 1;
}

.InfernoFormlib-ErrorMsg--Animation-leave-active {
    overflow: hidden;
    transition: height 0.3s ease-out, opacity 0.2s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-leave-end {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter-active {
    transition: height 0.2s ease-out, opacity 0.5s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-enter-end {
    opacity: 1;
}


/* Bootstrap overrides */
.invalid-feedback {
  display: block;
}
